*{
  margin:0;
  padding:0;

}
body {
  display:flex;
  justify-content: center;
  background-color: rgb(34, 34, 34);
}
@media only screen and (max-width:320px){
  .App {
  text-align: center;
  width:300px;
  height:auto;
  font-family: 'Nunito', sans-serif;
}
.Header {
  font-size: large;
}
}
.App {
  text-align: center;
  width:600px;
  height:auto;
  font-family: 'Nunito', sans-serif;
}
.Header {
  width:100%;
  height:100px;
  background-color: rgb(95, 93, 93);
  color:white;
  font-size: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.Search {
  padding:0;
  margin:0;
  display:flex;
  width:100%;
  background-color: brown;
  height:50px;
}
.Weather {
  width:100%;
  height:500px;
  position: relative;
  background: linear-gradient(rgb(65, 92, 83), rgb(163, 241, 189));
}
.WeatherCold {
  width:100%;
  height:500px;
  position: relative;
  background: linear-gradient(rgb(70, 121, 163), rgb(196, 221, 230));
}
.WeatherHot {
  width:100%;
  height:500px;
  position: relative;
  background: linear-gradient(rgb(238, 128, 3), rgb(250, 237, 124));
}

.weatherImage {
  position: absolute;
  top:33%;
  left:33%;
  color:rgb(219, 219, 219);
  z-index:1;
}

.PlaceHolder {
  width:100%;
  height:auto;
}
input {
  width:80%;
  height:100%;
  text-align: center;
  outline:none;
  border:none;
  font-size: xx-large;
  color:rgb(37, 37, 37);
  font-family: 'Nunito', sans-serif;
}
button{
  display: inline-block;
  width:20%;
  height:100%;
  outline:none;
  border: none;
  font-size: large;
  background-color: rgb(223, 221, 221);
  color:rgb(34, 34, 34);
  font-family: 'Nunito', sans-serif;
}
button:hover {
  background-color: rgb(34, 34, 34);
  color:white;
}
.Place {
  width:100%;
  background-color: rgb(100, 100, 100);
  color:white;
  height:60px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  color:rgb(34, 34, 34);
  border-bottom: rgb(26, 22, 54) solid 2px;
}
  .placeNames {
    margin-left:20px;
    color:white;
  }

.trash {
  margin-right:20px;
  color:white;
}
.cityName {
  position: absolute;
  float:left;
  padding:5px 20px 5px 20px;
  background-color: rgb(34, 34, 34);
  opacity: 0.5;
  color:white;
}
.temp {
  position: absolute;
  bottom: 0;
  right:0;
  padding:5px 20px 5px 20px;
  background-color: rgb(34, 34, 34);
  opacity: 0.5;
  color:white;
}
.wind {
  position: absolute;
  bottom: 0;
  left:0;
  padding:5px 20px 5px 20px;
  background-color: rgb(34, 34, 34);
  opacity: 0.5;
  color:white;
}
.weatherType {
  position: absolute;
  top: 0;
  right:0;
  padding:5px 20px 5px 20px;
  background-color: rgb(34, 34, 34);
  opacity: 0.5;
  color:white;
}
.cloud2 {
  display:none;
}
.cloudVisible {
  position:absolute;
  left:30%;
  top:40%;
  z-index: 3;
  color:rgb(102, 100, 100);
}
