*{
  margin:0;
  padding:0;
}


body {
  width:100%;
  background-color: rgb(34, 34, 34);
}


.App {
  text-align: center;
  width:100%;
  height:auto;
  font-family: 'Nunito', sans-serif;
  display:flex;
  flex-wrap:wrap;
  font-size: 1.5vh;
  justify-content: space-evenly;
}
.left {
  min-width:320px;
  width:100%;
  max-width: 500px;
}
.right {
  min-width: 320px;
  width:100%;
  height:auto;
  display:flex;
  justify-content: center;
  align-items: center;
  max-width:500px;
}
.Header {
  width:100%;
  height:80px;
  background-color: rgb(54, 95, 114);
  color:white;
  font-size: 8vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.Search {
  padding:0;
  margin:0;
  display:flex;
  width:100%;
  background-color: brown;
  height:50px;
}
.Weather {
  width:100%;
  height:500px;
  position: relative;
  background: linear-gradient(rgb(65, 92, 83), rgb(163, 241, 189));
}
.WeatherCold {
  width:100%;
  height:500px;
  position: relative;
  background: linear-gradient(rgb(70, 121, 163), rgb(196, 221, 230));
}
.WeatherHot {
  width:100%;
  height:500px;
  position: relative;
  background: linear-gradient(rgb(238, 77, 3), rgb(250, 237, 124));
}

.weatherImage {
  position: absolute;
  top:33%;
  left:33%;
  color:rgb(219, 219, 219);
  z-index:1;
}
.weatherImageSpin {
  position: absolute;
  top:33%;
  left:33%;
  color:rgb(245, 196, 63);
  z-index:1;
  animation: spin 10s linear  infinite forwards ;
}
@keyframes spin {
 0% {
  transform:rotate(0deg);
 }
 100%{
  transform:rotate(360deg);
 }
}

.PlaceHolder {
  width:100%;
  height:auto;
}
input {
  width:80%;
  height:100%;
  text-align: center;
  outline:none;
  border:none;
  font-size:3vh;
  color:rgb(37, 37, 37);
  font-family: 'Nunito', sans-serif;
}
button{
  display: inline-block;
  width:20%;
  height:100%;
  outline:none;
  border: none;
  font-size: large;
  background-color: rgb(223, 221, 221);
  color:rgb(34, 34, 34);
  font-family: 'Nunito', sans-serif;
}
button:hover {
  background-color: rgb(34, 34, 34);
  color:white;
}
.Place {
  width:100%;
  background-color: rgb(54, 95, 114);
  color:white;
  height:60px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  color:rgb(34, 34, 34);
  border-bottom: rgb(26, 22, 54) solid 2px;
}
  .placeNames {
    margin-left:20px;
    color:white;
  }

.trash {
  margin-right:20px;
  color:white;
}
.cityName {
  position: absolute;
  float:left;
  padding:5px 20px 5px 20px;
  background-color: rgb(34, 34, 34);
  opacity: 0.5;
  color:white;
}
.temp {
  position: absolute;
  bottom: 0;
  right:0;
  padding:5px 20px 5px 20px;
  background-color: rgb(34, 34, 34);
  opacity: 0.5;
  color:white;
}
.wind {
  position: absolute;
  bottom: 0;
  left:0;
  padding:5px 20px 5px 20px;
  background-color: rgb(34, 34, 34);
  opacity: 0.5;
  color:white;
}
.weatherType {
  position: absolute;
  top: 0;
  right:0;
  padding:5px 20px 5px 20px;
  background-color: rgb(34, 34, 34);
  opacity: 0.5;
  color:white;
}
.cloud2 {
  display:none;
}
.cloudVisible {
  position:absolute;
  left:25%;
  top:32%;
  z-index: 3;
  color:rgb(68, 67, 67);
  animation: cloud 3s linear  0.2s infinite forwards;
}
.cloudVisible2 {
  position:absolute;
  left:25%;
  top:20%;
  z-index: 2;
  color:rgb(161, 161, 161);
  animation: cloud 5s linear  0.2s infinite forwards;
}
.cloudVisible3 {
  position:absolute;
  left:20%;
  top:40%;
  z-index: 5;
  color:rgb(44, 44, 44);
  animation: cloud 20s linear  0.2s infinite forwards;
}
@keyframes cloud {
  0%{
    opacity:0;
    left:-2%;
  }
  10% {
    opacity:1;
  }
  80%{
    opacity:1;
  }
  100% {
    opacity:0;
    left:80%
  }
}
.mobileContainer {
  width:100%;
  display:flex;
}